1. sklearn:-
        ->Stand for  scikit learn
        ->Free machine learning library for python, used to build machine learning models.
        ->Contains a lot of efficient tools for machine learning and statistical modeling including classification,
          regression,clustering and dimentionality reduction.
       
2. sklearn.model_selection:-
        ->It is a method for setting a blueprint to analyze data and then using it to measure new data.
       
3. sklearn.metrics:-
        -> It implements several loss, score and utility function to measure classification perfomance.
        
4. r2score:-
        ->r^2(Cofficient of determination) regression score function.
        ->Best possible score is 1.0 and it can be negative

In [1]:
#import the necessary package
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression #linear regression fits a linear model 
from sklearn.model_selection import train_test_split #split array or matrics into random train and test subsets
from sklearn.metrics import r2_score

In [2]:
#lord the data
data = pd.read_csv('hp_data.csv')
data.head()

,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,price
0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,6300000
1,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000
2,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,3800000
3,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,10500000
4,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000

In [3]:
#basic checks and EDA(exploratory data analysis)
data.shape

(3500, 9)

In [4]:
data.isnull().sum()

place         0
built         0
sqft          0
sale          0
yearsOld      0
floor         0
totalFloor    0
bhk           0
price         0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place       3500 non-null   object
 1   built       3500 non-null   object
 2   sqft        3500 non-null   int64
 3   sale        3500 non-null   object
 4   yearsOld    3500 non-null   int64
 5   floor       3500 non-null   int64
 6   totalFloor  3500 non-null   int64
 7   bhk         3500 non-null   int64
 8   price       3500 non-null   int64
dtypes: int64(6), object(3)
memory usage: 246.2+ KB

In [6]:
#define X and Y
X = data.loc[:,['sqft','yearsOld','floor']]
y = data.price

In [8]:
# train-test split
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=10)#random_state for same result

In [9]:
print("X_train shape", X_train.shape)
print("X_test shape", X_test.shape)
print("y_train shape", y_train.shape)
print("y_test shape", y_test.shape)

X_train shape (2625, 3)
X_test shape (875, 3)
y_train shape (2625,)
y_test shape (875,)

In [10]:
model = LinearRegression()#define the model
model.fit(X_train,y_train)#trainig
y_predict=model.predict(X_test)#prediction

In [11]:
r2_score(y_test,y_predict)#evaluation(model fitment efficiency)

0.625254270661246

## predict mileage for cars dataset
independent variable - hp,am,wt

dependent variable - mpg

In [11]:
data2 = pd.read_csv('mtcars.csv')
data2.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [12]:
X = data2.loc[:,['hp','wt','am']]
y = data2.mpg

In [13]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=10)

In [14]:
print("X_train shape", X_train.shape)
print("X_test shape", X_test.shape)
print("y_train shape", y_train.shape)
print("y_test shape", y_test.shape)

X_train shape (24, 3)
X_test shape (8, 3)
y_train shape (24,)
y_test shape (8,)

In [15]:
model = LinearRegression()#define the model
model.fit(X_train,y_train)#trainig
y_predict=model.predict(X_test)#prediction

In [16]:
r2_score(y_test,y_predict)

0.4782770811432421