1. accuracy_score:-
                -> Accuracy classification score, used to find accuracy of the model
                -> In multilabel classification, this function computes subset accuracy
                -> The best perfomance is 1 with normaize == true and the number of sample with normalize == False.

2. Confusion_matrix:-
                -> Compute confusion matrix to evalute the accuracy of classification.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression #logistic regression fits a linear model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
cars = pd.read_csv('mtcars.csv')
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [3]:
cars.shape

(32, 12)

In [4]:
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

## cars is automatic or manual is my target/outcome/y/response/dependent
## mpg, hp, wt  - X/independent variable/features/predictors/dimention

In [5]:
X = cars.loc[:,['mpg','hp','wt']]
y= cars.am

In [6]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=13)

In [7]:
X_train.shape

(22, 3)

In [8]:
X_test.shape

(10, 3)

In [9]:
model = LogisticRegression()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [10]:
accuracy_score(y_test,y_predict)

0.9

In [11]:
y_test

22    0
7     0
8     0
24    0
31    1
1     1
28    1
17    1
27    1
15    0
Name: am, dtype: int64

In [12]:
y_predict

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 0], dtype=int64)

In [13]:
confusion_matrix(y_test,y_predict)

array([[5, 0],
       [1, 4]], dtype=int64)

In [14]:
pd.crosstab(y_test,y_predict)

col_0  0  1
am
0      5  0
1      1  4

In [21]:
from sklearn.metrics import precision_score, recall_score, classification_report

In [22]:
precision_score(y_test,y_predict)

1.0

In [23]:
recall_score(y_test,y_predict)

0.8

In [24]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91         5
           1       1.00      0.80      0.89         5

    accuracy                           0.90        10
   macro avg       0.92      0.90      0.90        10
weighted avg       0.92      0.90      0.90        10