In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier #RandomForestClassifier fits a ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from collections import Counter
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv("car_evaluation.csv")
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [5]:
data.shape

(1728, 7)

In [6]:
X = data.iloc[:,:-1]
y = data.outcome

In [7]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0

In [8]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=10)

In [9]:
model = RandomForestClassifier(n_estimators=100,random_state=0)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

0.9976851851851852

In [29]:
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

Counter({'unacc': 371, 'acc': 102, 'vgood': 25, 'good': 21})

col_0    acc  good  unacc  vgood
outcome
acc       96     6      0      0
good       4    17      0      0
unacc      1     0    370      0
vgood      1     0      0     24

### try RF with breast cancer dataset